.counterTen {
  background-color: rgba(156, 138, 138, 0.624);
  height: 50vh;
  width: 100%;
}

.button-box {
  display: flex;
  gap: 30px;
}

/* button {
  width: 100px;
  font-size: 40px;
  background-color: rgb(12, 214, 146);
  color: red;
  border-radius: 5px;
  border: 1px solid black;
} */

button:hover {
  background-color: rgb(6, 85, 58);
}

p {
  font-size: 40px;
}
