.counter {
  background-color: grey;
  height: 100vh;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

button {
  width: 100px;
  font-size: 40px;
  background-color: rgb(12, 214, 146);
  color: red;
  border-radius: 5px;
  border: 1px solid black;
}

button:hover {
  background-color: rgb(6, 85, 58);
}
p {
  font-size: 40px;
}
